@import "../../styles/vars.sass"

.menu
    width: $menu-width
    height: 100%
    overflow: hidden
    position: fixed
    display: flex
    flex-direction: column
    background-color: lighten($dark-blue, 10%)
    margin-top: $header-height
    &__burger-btn
        display: none
    &__item
        width: 100%
        padding: 1em 1.5em
        white-space: nowrap
        color: $beige
        cursor: pointer
        transition: .3s
        text-transform: uppercase
        color: $beige
        &--active
            font-weight: 600
        &:hover
            background-color: lighten($dark-blue, 5%)


button.menu__burger-btn
    background-color: transparent

button.menu__burger-btn:hover
    background-color: lighten($dark-blue, 10%)

.menu-overlay
    display: none
    background-color: rgba(82, 101, 143, 0.8)
    margin-top: $header-height


@media only screen and (max-width: 769px)
    .menu
        width: 0
        position: fixed
        left: 0
        z-index: 2
        height: calc(100vh - #{$header-height})
        transition: .3s
        &--opened
            width: 60%
        &__burger-btn
            top: 0.5em
            left: 1em
            display: block
            position: fixed
            z-index: 3
    
    .menu-overlay
        display: block
        width: 0
        height: calc(100vh - #{$header-height})
        position: fixed
        z-index: 1
        &--opened
            width: 100vw
        
