@import "../../../styles/vars.sass"

.icon-button
    overflow: hidden
    border: none
    border-radius: 5px
    width: 40px
    height: 40px
    padding: 0.5em
    background-color: $grey
    transition: .3s
    &:hover
        background-color: darken($grey, 20%)
    &:disabled
        cursor: default
        background-color: transparentize($grey, 0.3)
    &__icon
        width: calc(40px - 0.5em * 2)
        height: calc(40px - 0.5em * 2)
    &--round 
        border-radius: 50%
