@import "../../../styles/vars.sass"
    
.form
    padding: 1.5em 2.5em
    display: flex
    flex-direction: column
    &__form
        flex-grow: 1
    &__title
        text-align: center
        color: $dark-blue
        margin-bottom: 1em
        font-size: $fs-xl
    &__loader
        left: 50%
        transform: translateX(-50%)