@import "../../../styles/vars.sass"

.modal
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    z-index: 3
    display: flex
    justify-content: center
    align-items: center
    &__overlay
        z-index: 3
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, 0.6)
    &__content-wrp
        max-width: calc(100% - 50px)
        max-height: calc(100vh - 200px)
        position: fixed
        z-index: 4
        padding: 
        border-radius: 4px
        background-color: #ffffff