@import "../../../styles/vars.sass"

.error-message
    display: flex
    flex-direction: column
    position: relative
    margin: 0 auto
    max-width: 70%
    &__title,
    &__message
        color: $red
        line-height: 1.5
        text-align: center
    &__title
        font-size: $fs-lg
        margin-bottom: 0.2em
    &__message
        font-size: $fs-md
        &--link 
            cursor: pointer
            text-decoration: underline