@import "./vars.sass"

.page
    width: 100vw
    height: auto
    min-height: 100vh
    position: relative
    &__content
        margin-left: $menu-width
        padding-top: $header-height
        min-height: 100vh

@media only screen and (max-width: 425px)
    .page
        height: 100vh
        &__content
            overflow-y: auto

@media only screen and (max-width: 769px)
    .page
        &__content
            margin-left: 0

@media only screen and (min-width: 1500px)
    .page
        &__content > div
            width: calc(1500px)
            margin: 0 auto