body
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", ans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

*
  box-sizing: border-box
    
p, h1, h2, h3, h4, h5, h6
    margin: 0

button, input, textarea
    outline: none

button
    cursor: pointer

a
    text-decoration: none