@import "../../styles/vars.sass"

.recipe
    padding: 1.5em 2.5em
    &__title
        text-align: center
        color: $dark-blue
        margin-bottom: 1em
        font-size: $fs-xl
    &__description
        color: $dark-blue
        font-size: $fs-lg
    &__loader
        left: 50%
        transform: translateX(-50%)
    &__toolbar
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 0.75em
        &__buttons
            display: flex
            &__item
                position: relative
                margin: 0 0.3em
                background-color: $dim-blue
                width: 40px
                height: 40px
                padding: 10px
                & > img 
                    width: calc(40px - 10px * 2)
                    height: calc(40px - 10px * 2)
                &:hover:not(:disabled)
                    background-color: $dark-blue
                &:first-of-type
                    margin-left: 0
        &__date
            display: flex
            justify-content: flex-end
            align-items: center
            &__text
                color: $dim-blue
                font-size: $fs-lg
            &__icon
                height: $fs-lg
                width: $fs-lg
                margin-left: 5px
                position: relative
                border-radius: 50%
                overflow: hidden

@media only screen and (max-width: 768px)
    .recipe
        padding: 1em 1.5em
        &__toolbar
            &__buttons
                &__item
                    width: 30px
                    height: 30px
                    padding: 5px
                    & > img 
                        width: calc(30px - 5px * 2)
                        height: calc(30px - 5px * 2)
            &__date
                &__text
                    font-size: $fs-md

@media only screen and (max-width: 375px)
    .recipe
        &__toolbar
            &__date
                &__icon
                    display: none
