@import "../../styles/vars.sass";

.recipe-history
    padding: 1.5em 2.5em;
    &__title
        text-align: center
        font-size: $fs-md
        color: $dark-blue
        margin-bottom: 1em
    &__loader
        position: relative
        left: 50%
        transform: translateX(-50%)
    &__item
        margin: 0.5em 0
        padding: 0.5em 1em
        background-color: $dim-blue
        transition: .3s
        border-radius: 5px
        cursor: pointer
        font-size: $fs-md
        color: $beige
        &:hover
            background-color: darken($dim-blue, 10%)
    &__detailed-item
        padding: 1em
        min-width: calc(100vw - 15%)
        min-height: calc(100vh - 65%)
        overflow-y: auto
        font-size: $fs-xl
        &__header
            display: flex
            align-items: center
            margin-bottom: 0.15em
            &__title
                margin-left: 1em
                font-size: $fs-xl
                color: $dark-blue
        &__timestamp
            display: flex
            align-items: center
            margin-left: calc(40px + 1em)
            margin-bottom: 0.5em
            &__icon
                margin-right: 5px
                height: $fs-sm
                width: $fs-sm
            &__date
                font-size: $fs-sm
                color: $dim-blue
        &__description
            margin-left: calc(40px + 1em)
            color: $dark-blue
            font-size: $fs-xl

@media only screen and (max-width: 768px)
    .recipe-history
        padding: 1em 1.5em

@media only screen and (max-width: 375px)
    .recipe-history
        &__detailed-item
            &__description
                margin: 0