@import "../../../styles/vars.sass"

.input
    display: flex
    flex-direction: column
    align-items: stretch
    justify-content: flex-start
    margin: 0.5em 0
    &__label
        margin-bottom: 0.3em
        font-size: $fs-md
    &__input
        padding: 0.5em
        margin: 0
        font-size: $fs-md
        border-radius: 5px
        border: 1px solid $dark-blue
        color: $dark-blue
        transition: .3s
        &:focus
            box-shadow: inset 0px 0px 2px 1px $dim-blue
        &--textarea
            resize: vertical