@import "../../styles/vars.sass"

.recipes-list
    padding: 1.5em 2.5em
    display: flex
    flex-direction: column
    align-items: stretch
    min-height: calc(100vh - #{$header-height})
    &__item
        margin: 0.5em 0
        padding: 0.5em 1em
        display: flex
        flex-direction: column
        align-items: flex-start
        background-color: $dim-blue
        transition: .3s
        border-radius: 5px
        cursor: pointer
        font-size: $fs-lg
        &:hover
            background-color: darken($dim-blue, 10%)
        &__title
            color: $beige
            font-size: fs-md
            fleg-grow: 1
        &__date
            height: 100%
            display: flex
            align-items: center
            align-self: flex-end
            &__text
                color: $beige
                font-size: $fs-md
            &__clock-icon
                width: $fs-md
                height: $fs-md
                margin-left: 0.2em
    &__empty-message
        margin: auto
        color: $dim-blue
        &__link
            text-decoration: underline
            cursor: pointer

@media only screen and (max-width: 769px)
    .recipes-list
        padding: 1.5em 1em
        &__item
            padding: 0.5em 0.75em
            margin: 0.25em 0
            &__date
                &__text
                    font-size: $fs-sm