@import "../../styles/vars.sass"

.header
    background-color: $dark-blue
    padding: 1em 2em
    display: flex
    justify-content: center
    align-items: center
    position: fixed
    width: 100vw
    top: 0
    &__title
        text-align: center
        font-size: $fs-xl
        color: $beige