@import "../../../styles/vars.sass"
    
.form-button
    font-size: $fs-md
    text-transform: uppercase
    padding: 0.5em 2em
    margin-bottom: 0.5em
    background-color: lighten($dim-blue, 15%)
    color: $beige
    border: none
    border-radius: 5px
    transition: .3s
    position: relative
    left: 50%
    transform: translateX(-50%)
    &:hover
        background-color: lighten($dim-blue, 5%)
    &:disabled
        background-color: $grey
        color: $beige
        cursor: default